<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{"login.login" | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()">
        <mat-form-field>
          <input matInput placeholder='{{"login.email" | translate}}' [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder='{{"login.password" | translate}}' [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!username || !password" type="submit">{{"login.login" | translate}}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
